<div class="grid_12">
  <h2 class="title">Contact</h2>
</div><!-- end .grid_12-->
<div class="grid_8 prefix_4">
  <h3>Mike Judge</h3>
  <p>Visceral Rails Developer of Redmond, WA</p>
</div><!-- end .grid_8 prefix_4-->
<div class="grid_4">
  <p class="article_details">Email:</p>
</div><!-- end .grid_4 -->
<div class="grid_8">
  <p>mikelovesrobots@gmail.com</p>
</div><!-- end .grid_8-->
<div class="grid_4">
  <p class="article_details">Twitter:</p>
</div><!-- end .grid_4 -->
<div class="grid_8">
  <p><%= link_to "@mikelovesrobots", AppConfig.twitter.home_url %></p>
</div>
<div class="grid_4">
  <p class="article_details">Github:</p>
</div><!-- end .grid_4 -->
<div class="grid_8">
  <p><%= link_to "@mikelovesrobots", "http://github.com/mikelovesrobots" %>, <%= link_to "@activerain", "http://github.com/activerain" %></p>
</div>
<div class="grid_4">
  <p class="article_details">del.icio.us:</p>
</div><!-- end .grid_4 -->
<div class="grid_8">
  <p><%= link_to "@bluetrust", "http://del.icio.us/bluetrust" %></p>
</div>
<!-- end .grid_8-->
<div class="grid_4">
  <p class="article_details">ActiveRain:</p>
</div><!-- end .grid_4 -->
<div class="grid_8">
  <p><%= link_to "@activemike", "http://activerain.com/activemike" %></p>
</div><!-- end .grid_8-->
<div class="clear">&nbsp;</div>

