<div class="grid_12">
  <h2 class="title">Archives</h2>
</div><!-- end .grid_12-->
<% if @articles.present? %>
  <% @articles.each do |article| %>
    <div class="grid_4">
      <p class="article_details"><%= time_ago_in_words Time.parse(article.created_at) %> ago<br />
        by Mike Judge</p>
    </div><!-- end .grid_4-->
    <div class="grid_2">
      <%= link_to image_tag(article.image_path(:thumb), :alt => article.image_base, :width => "140px", :height => "92px", :class => "photos_thumb"), article.url %>
    </div><!-- end .grid_2-->
    <div class="grid_6">
      <h3><%= link_to article.title, article.url %></h3>
      <%= article.blurb %>
      <span class="bigLink"><%= link_to "Visit Website", article.url %></span>
    </div><!-- end .grid_6-->
    <div class="clear margin_40">&nbsp;</div>
  <% end %>
<% else %>
<div class="grid_left">
  <p>You've reached the end of the universe (archives) and I feel fine.</p>
</div>
<div class="grid_right">
</div>
<div class="clear">&nbsp;</div>
<% end %>
<div class="grid_left">
  <% if @page > 1 %>
    <span class="bigLink"><%= link_to "Previous Page", :page => @page - 1 %></span>
  <% end %>
</div><!-- end .grid_left-->
<div class="grid_right">
  <% if @articles.length == 10 %>
    <span class="bigLink"><%= link_to "Next Page", :page => @page + 1 %></span>
  <% end %>
</div><!-- end .grid_right-->
<div class="clear">&nbsp;</div>
