<% @page_title = h @post.title %>

<p>
  <b>Body:</b>
  <%=h @post.body %>
</p>

<p>
  <b>Published:</b>
  <%=h @post.published %>
</p>

<p>
  <b>Created at:</b>
  <%=h @post.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%=h @post.updated_at %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
