!!!
%html
  %head
    %title= @page_title
    = stylesheet_link_tag "blueprint/screen", :media => "screen, projection"
    = stylesheet_link_tag "blueprint/print", :media => "print"
    /[if IE]
      = stylesheet_link_tag "blueprint/ie", :media => "screen, projection"
    = stylesheet_link_tag "screen", :media => "screen, projection"
  %body
    %div{:id => "#{controller_name}_controller"}
      %div{:id => "#{action_name}_action"}
        .container
          .span-3
            %h2= link_to "rubyminds", root_path 
          .span-18.tagline
            -# %h3 What's your dangerous idea?
          .span-3.last
            -# = link_to "New Idea", new_post_path
          = render :partial => "/shared/flashes"
          .push-2.span-20.last
            = yield
          .span-24.footer.quiet
            = link_to "&copy; ", "http://creativecommons.org/licenses/by-sa/3.0/"
            = Date.today.year
            Site by Mike Judge. Content by Author.  All Rights Reserved
