!!!
%html
  %head
    %title= @page_title
    = stylesheet_link_tag "blueprint/screen", :media => "screen, projection"
    = stylesheet_link_tag "blueprint/print", :media => "print"
    /[if IE]
      = stylesheet_link_tag "blueprint/ie", :media => "screen, projection"
    = stylesheet_link_tag "screen", :media => "screen, projection"
  %body
    .container
      .span-24
        %h1 RubyMinds
      = render :partial => "/shared/flashes"
      .span-4.border
        %h3  The first column
      .span-16.border
        %h2= @page_title
        = yield
      .span-4.last
        %h3 The right column
      .span-24.small.quiet
        The footer
